{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-11 col-lg-5 bg-white rounded p-4">
            <a href="/">Go back</a>
            <div class="display-5 text-center mt-2">
                User settings
            </div>
            <hr>
            <h5 class="mt-5">Change profile picture</h5>
            <form class="mt-3 text-center" action="/settings" method="POST" enctype=multipart/form-data>
                <img class="mb-3 rounded-circle" id="profilePicturePreview" src="{{ user_data.profile_pic_path }}" alt="Profile picture" width="300" height="300">
                <span class="d-block mb-3">Recommended size: 300 x 300</span>
                <div class="input-group">
                    <input type="file" class="form-control" id="inputProfilePicture" name="inputProfilePicture" accept="image/jpeg, image/png" aria-describedby="inputProfilePicture" aria-label="Upload">
                    <button class="btn btn-primary" type="submit">Change</button>
                </div>
            </form>

            <hr class="mt-5">
            <h5 class="mt-5">Change password</h5>

            <form class="mt-3" action="/settings" method="POST">
                <div class="mb-3">
                    <label for="oldPasswordInput" class="form-label">Old password</label>
                    <input type="password" class="form-control" id="oldPasswordInput" name="oldPasswordInput">
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">New password</label>
                    <input type="password" class="form-control" id="passwordInput" name="passwordInput">
                </div>
                <div class="mb-3">
                    <label for="passwordConfirmationInput" class="form-label">New password confirmation</label>
                    <input type="password" class="form-control" id="passwordConfirmationInput" name="passwordConfirmationInput">
                </div>
                <div class="col-12 text-center mt-4">
                    <button class="btn btn-primary" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <!-- <script>
        document.getElementById("inputProfilePicture").addEventListener("change", function(event) {
            var image = document.getElementById("profilePicturePreview")
            image.src = URL.createObjectURL(event.target.files[0])
        });
    </script> -->

    <script>
        async function getFileImg(URL, filename) {
            const fileImg = await fetch(URL)
                                .then(r => r.blob())
                                .then(blobFile => new File([blobFile], filename, { type: "image/png" }));
            return fileImg;
        }

        // Source: https://www.youtube.com/watch?v=bXf_UdyDzSA&ab_channel=Cod%C3%BA
        document.getElementById("inputProfilePicture").addEventListener("change", function(event) {
            const file = document.getElementById("inputProfilePicture").files[0];

            if (!file) return;

            const reader = new FileReader();

            reader.readAsDataURL(file);

            reader.onload = function (event) {
                const imgElement = document.getElementById("profilePicturePreview");
                imgElement.src = event.target.result;
                document.getElementById("inputProfilePicture").src = event.target.result;

                imgElement.onload = function(e) {
                    const canvas = document.createElement("canvas");
                    const MAX_WIDTH = 300;

                    const scaleSize = MAX_WIDTH / e.target.width;
                    canvas.width = MAX_WIDTH;
                    canvas.height = e.target.height * scaleSize;

                    const ctx = canvas.getContext("2d");

                    ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);

                    const srcEncoded = ctx.canvas.toDataURL(e.target, "image/jpeg");

                    document.querySelector("#profilePicturePreview").src = srcEncoded;

                    fileImg = getFileImg(srcEncoded, file.name);

                    const editFile = async function() {
                        const file = await fileImg;

                        let container = new DataTransfer();
                        container.items.add(file);
                        document.getElementById("inputProfilePicture").files = container.files;
                    };

                    editFile();
                };
            };
        });
    </script>
{% endblock %}